.my-input {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

.my-button {
  background-color: #068DA9;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.my-button:hover {
    background-color: #0079c0;
}

.save-button {
  background-color: #49ab81;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.save-button:hover {
  background-color: #317256;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.edit-button {
  background-color: #2196f3;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.delete-button {
  background-color: #de0000;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: #a00000;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}


